<div class="project_box" onclick="window.location.pathname='<%= user_project_path(current_user, project) %>'">
	<div class="fl">
		<h2><%= project.name %></h2>
		<div class="toolbox hidden">
			<%= link_to(t('.edit'), edit_user_project_url(current_user, project))%>
			<%= link_to(t('.stats'), '#')%>
		</div>
	</div>
	
	<h2 class="fr small right">
		<% if project.users.blank? %>
			<%= t('.no_subscribers') %>
		<% else %>
			<%= t('.amount_subscribers', :count => project.users.count) %>
		<% end %>
	</h2>
</div>
