<div class="project_box" data="<%= project.id %>">
	<h2><%= project.name %></h2>
	<ul class="menu">
		<li><%= link_to t('.edit'), edit_project_url(project) %></li>
		<li><%= link_to t('.stats') %></li>
	</ol>
	<%= clear_div %>
	<div><strong class="w200">Subscribers: </strong><%= project.subscribers.count %></div>
	<div><strong class="w200">Something: </strong><%= %></div>
</div>