<h1><%= t('.title') %></h1>
<%= t('.welcome_message', :firstname => current_user.firstname) %>

<h2><%= t('.subscribed_projects')%></h2>
<% if current_user.subscriptions.present? %>
	<% current_user.subscriptions.each do |project| %>
		<%= render :partial => 'projects/user_overview', :locals => {:project => project} %>
	<% end %>
<% else %>
	<%= t('.no_subscribed_projects') %>
<% end %>
