<!DOCTYPE html>
<html>
	<head>
		<title>Globy, the cute GPS service</title>
		<%= stylesheet_link_tag :all %>
		<%#= javascript_include_tag :defaults %>
		<%= javascript_include_tag '/javascripts/jquery.js' %>
		<%= javascript_include_tag '/javascripts/jquery-ui.js' %>
		<%= stylesheet_link_tag '/stylesheets/jquery-ui.css' %>
		<%= csrf_meta_tag %>
		<%= yield :head %>
	</head>
	<body>
		<div class="wrapper">
			<div id="header">
				<h1>Globy</h1>
				<div id="menu">
					<div id="utils">
						<%= button_to(t('.logout'), user_session_path(current_user), :method => :delete) if current_user.present? %>
					</div>
				</div>
			</div>
		
			<div id="main">
				<% if flash[:notice].present? %>
					<%= flash[:notice] %>
				<% end %>

				<% if flash[:error].present? %>
					<div class="ui-icon ui-icon-alert">
						<strong>Error</strong><%= flash[:error] %>
					</div>
				<% end %>
			
				<%= yield %>
			</div>
			<div class="push"></div>
		</div>
		
		<div id="footer">
			<div class="inner">Globy (c) 2010</div>
		</div>
	</body>
</html>
